@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#2A55E5;
  --secondary:#f43f5e;
  --tertiary:#01257D;

}
@theme inline{
  --color-primary:var(--primary);
  --color-secondary:var(--secondary);
  --color-tertiary:var(--tertiary);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
      --color-primary:var(--primary);
  --color-secondary:var(--secondary);

  }
}

@custom-variant dark (&:is(.dark *))
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
